.reveal section img {
  border: 0px;
  background: transparent;
  padding: 15px;
  border-radius: 8px;
}
.hljs {
  background: none;
}
.reveal pre code {
  tab-size: 2;
  -moz-tab-size: 2;
}
.reveal pre code {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  max-height: 95vh;
  overflow: hidden;
}
b {
  color: #e7ad52
}
